.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
webpack.config.test.js
tsconfig.json
tsconfig.test.json
**/*.ts
**/*.map
.nyc_output
coverage
out/test/**
out/**/*.test.js
**/.eslintrc.json
**/*.vsix
